.mainContent {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    max-height: 28rem;
  }

  button {
    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: 500;
    border: 0;
    border-radius: 0.4rem;
    color: inherit;
  }

  button:hover {
    filter: brightness(1.1);
  }

  nav {
    display: flex;
    gap: 1rem;
    z-index: 2;
  }
}

.number {
  font-family: 'Inconsolata';
  font-size: 3rem;
  font-weight: 600;
  z-index: 2;
}

.name {
  font-size: 18rem;
  font-weight: 800;
  text-align: center;
  text-transform: capitalize;
}

.bug {
  strong {
    color: var(--bug-bg);
  }

  button {
    background: var(--bug-bg);
  }
}

.dark {
  strong {
    color: var(--dark-bg);
  }

  button {
    background: var(--dark-bg);
  }
}

.dragon {
  strong {
    color: var(--dragon-bg);
  }

  button {
    background: var(--dragon-bg);
  }
}

.electric {
  strong {
    color: var(--electric-bg);
  }

  button {
    background: var(--electric-bg);
  }
}

.fairy {
  strong {
    color: var(--fairy-bg);
  }

  button {
    background: var(--fairy-bg);
  }
}

.fighting {
  strong {
    color: var(--fighting-bg);
  }

  button {
    background: var(--fighting-bg);
  }
}

.fire {
  strong {
    color: var(--fire-bg);
  }

  button {
    background: var(--fire-bg);
  }
}

.flying {
  strong {
    color: var(--flying-bg);
  }

  button {
    background: var(--flying-bg);
  }
}

.ghost {
  strong {
    color: var(--ghost-bg);
  }

  button {
    background: var(--ghost-bg);
  }
}

.grass {
  strong {
    color: var(--grass-bg);
  }

  button {
    background: var(--grass-bg);
  }
}

.ground {
  strong {
    color: var(--ground-bg);
  }

  button {
    background: var(--ground-bg);
  }
}

.ice {
  strong {
    color: var(--ice-bg);
  }

  button {
    background: var(--ice-bg);
  }
}

.normal {
  strong {
    color: var(--normal-bg);
  }

  button {
    background: var(--normal-bg);
  }
}

.poison {
  strong {
    color: var(--poison-bg);
  }

  button {
    background: var(--poison-bg);
  }
}

.psychic {
  strong {
    color: var(--psychic-bg);
  }

  button {
    background: var(--psychic-bg);
  }
}

.rock {
  strong {
    color: var(--rock-bg);
  }

  button {
    background: var(--rock-bg);
  }
}

.steel {
  strong {
    color: var(--steel-bg);
  }

  button {
    background: var(--steel-bg);
  }
}

.water {
  strong {
    color: var(--water-bg);
  }

  button {
    background: var(--water-bg);
  }
}